# RentMe Database Configuration
# Direct Connection or Connection Pooler (Supabase)
DATABASE_URL=postgresql://rentme_app:[PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:5432/postgres?sslmode=require

# Supabase Project Configuration
SUPABASE_PROJECT_ID=wdwioszopvegipszywey
SUPABASE_URL=https://wdwioszopvegipszywey.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
PORT=5173
